.my-outfits-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-outfits-center-piece-frame{
    width: 96vw;
    height: 68vh;
    background-color: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(7px);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.33);
}
.my-outfits{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.my-outfits-center-piece{
    width: 90vw;
    height: 60vh;
    background-color: #282b30;
    border: 10px solid white;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    overflow: auto;
}
.my-outfit-summary{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: .1em;
    scale: .9;
    justify-content: space-evenly center;
    height: 250px;
    width: 95%;
    background-color: #4c525c;
    border-radius: 2em;
    padding: 5px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #4c525c #282b30;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 20px;
    position: absolute;
    max-height: 90%;
    height: 90%;

  }

  *::-webkit-scrollbar-track {
    background: #282b3000;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4c525c;
    border-radius: 10px;
    border: 0px none #ff0000;
  }
